# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml

# Node
node_modules
npm-debug.log

# Build
bin/
obj/
TestResults/

# IDE / user
*.user
*.suo
*.swp

# Configs sensíveis
*.env
.env*
appsettings.Development.json

# Docs e outros
docs/
README.md

# Testes
*.Tests/
SdtechBank.Application.Tests/
SdtechBank.Domain.Tests/
SdtechBank.PixManagerApi.Tests/
