MONGO_USER=change_me
MONGO_PASSWORD=change_me
MONGO_PORT=change_me
MONGO_HOST=change_me
MONGO_DB_NAME=sdtechbank
RABBITMQ_USER=change_me
RABBITMQ_PASS=change_me
RABBITMQ_HOST=change_me
RABBITMQ_PORT=5672
RABBITMQ_QUEUE=sdtechbank-queue
RABBITMQ_EXCHANGE=sdtechbank-exchange
RABBITMQ_QUEUE_TYPE=quorum
RABBITMQ_MESSAGE_TTL_MS=86400000
RABBITMQ_VIRTUAL_HOST=/